<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solar Irradiance Graphing Tool</title>
</head>
<body>
{% block content %}
{% load graph_tags %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}

    <input type="submit" value="Submit">
</form>
{% if obj %}
    <div class="main-container" style="display: flex;">
        <div>
            {% if obj.image.url %}
                <img src="{{ obj.image.url }}">
            {% endif %}
        </div>
        <div class="metadata-container" style="margin-top: 2rem">
            <h1>Metadata</h1>
            {% autoescape off %}
                <div>{{ obj.metadata|display_metadata }}</div>
            {% endautoescape %}
        </div>
        <div class="map-container">
            <embed type="text/html" class="map-embed" src="media/map_htmls/35.25_-78.55_14_map.html" width="500" height="500">
        </div>
    </div>
{% endif %}
<div class="footer" style="margin-top: 5rem"></div>
{% endblock content %}
</body>
</html>
